[user]
	email = luxu_lynn@hotmail.com
	name = Lu Xu
[core]
	editor = vim
[alias]
	co = checkout
	ci = commit
	st = status
	who = shortlog -sne
	undo = reset --soft HEAD^
	unstage = reset HEAD
	amend = commit --amend
	dic = diff --cached
	oneline = log --pretty=oneline --abbrev-commit --graph --decorate
